body{
    background-color: antiquewhite;
    height: 100%;
}


.wrapper {
    width: 90%;
    background-color: salmon;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.wrapper * {
    margin: 10px 0;
}

.nav{
    height: 50px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.nav ul {
    list-style: none;
    text-decoration-style: none;
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(0,-50%);
}

.nav ul li {
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.nav:after {
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
}

.summary {
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.summary p {
    margin: 5px 0; 
}

.skills ul {
    list-style: none;
}

.skills ul li {
    width: 33%;
    float: left;
    position: relative;
    display: inline-block;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.skills ul li div {
    height: 200px ;
    border-radius: 5px;
    text-align: center;
}


.skill {
    position: absolute;
    transition: 2s;
    transform: translateY(90deg);
}

.skill:hover {
    background-color: salmon;
    cursor: pointer;
    transform: rotateY(180deg);
}

.skillrev {
    transform: rotateY(90deg);
}


.skills:after{
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
}


.skills ul li:hover div.skill {
  animation: rotatecard .8s ease-in forwards;
}

.skills ul li:hover div.skillrev {
    animation: rotatecard .8s .8s ease-out forwards reverse;
  }

@keyframes rotatecard {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}


.projects {
    background-color: whitesmoke;
    border-radius: 10px;

}

.project {
    width: 45%;
    padding: 1%;
    margin: 1%;
    float: left;
}

.projects:after{
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
}


.footer {
    height: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.laughing-trump {
    border-radius: 10px;
    animation-name: laugh;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes laugh {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(1400px);
    }
}

